<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
    <style>
        body {
            background: #1e1e2f;
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        h1 {
            font-size: 3em;
            color: #00d1b2;
        }
    </style>
</head>
<body>
    <h1>Bienvenue les pro dans le cours Jenkins CI/CD</h1>
     <p>Un nouveau paragraphe suite au déploiement de mon Pipeline</p>
</body>
</html>

